<!DOCTYPE html>
<html>
<head>
  <title>Face Recognition Video Processing</title>
</head>
<style>
    body {
      background-image: url("image.jpg");
      background-repeat: no-repeat;
      background-size: 1500px 1500px;
      background-position: center;
    }
  </style>
<body>
  <h1>Face Recongition Video Processing</h1>

  <form action="/process" method="post" enctype="multipart/form-data">
    <input type="file" name="selfieVideo" accept="video/*" />
    <input type="submit" value="Upload" />
  </form>
    
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
</body>
</html>
